/* General Styles */
body {
  font-family: 'Sofia Sans Condensed', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar-container {
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

.navbar .nav-left img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.navbar .title{
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
  color: rgba(136, 31, 57, 0.774);
}
.navbar .nav-left ul{
  padding: 10px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

i{
  cursor: pointer;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
.navbar .nav-right ul a:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.1);
  transition: 0.5s;
}
/* cut off from main */

a h1{
  width: 220px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  background-color: rgb(0, 0, 238);
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}
a h1:hover{
  transform: scale(1.1);
  transition: 0.5s;
  font-weight: bolder;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.container h1{
  color: rgb(136, 31, 57);
}

h2 {
  margin-bottom: 20px;
}

button {
  background-color: rgba(136, 31, 57, 0.774);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
}

button:hover {
  background-color: #1e5d86;
}


/* Flashcard Set Styles */
.flashcard-set {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
}

.flashcard-set h3 {
  margin: 0;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 4px;
}

.modal input[type="text"],
.modal textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.sets-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

/* Flashcard Styles */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.flashcard {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  perspective: 1000px;
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.flashcard .front,
.flashcard .back {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.6s;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.delete-set,
.delete-flashcard {
background-color: rgba(136, 31, 57, 0.774);
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
margin: 5px 2px;
cursor: pointer;
padding: 5px 10px;
border-radius: 4px;
}

.delete-set, .delete-card {
float: right;
}

.delete-card {
position: absolute;
bottom: 5px;
right: 5px;
}


.flashcard .front {
  transform: rotateY(0deg);
}

.flashcard .back {
  transform: rotateY(180deg);
}

.flashcard.flipped .front {
  transform: rotateY(-180deg);
}

.flashcard.flipped .back {
  transform: rotateY(0deg);
}
