body{
  margin: 0px;
  font-family: 'Sofia Sans Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar-container{
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
}

.main-container{
  width: 100%;
  height: 745px;
  background-color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(161, 58, 84, 0.363),
      rgba(161, 58, 84, 0.363)
    ), url(../images/person-studying.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

  
}

.main-body h1{
  font-size: 70px;
  font-weight: bolder;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
}

.main-body p{
  font-size: 40px;
  color: white;
  margin-left: 100px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.navbar .nav-left img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar .title{
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
  color: rgba(136, 31, 57, 0.774);
  
}

.navbar .nav-right ul, .navbar .nav-left ul{
  padding: 10px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar .nav-right ul{
  color: rgb(0, 0, 238);
}
.nav-right ul .get-started-button{
  background-color: rgb(0, 0, 238);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.navbar .nav-right ul a:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.1);
  transition: 0.5s;
}

.get-started-button:hover{
  font-weight: bolder;
  transform: scale(1.1);
  transition: 0.5s;
}